/* style css Sign up */
.sign-form {
    padding: 1px;
    background-color: #ccc;
    gap: 1px;
}

.sign-btn {
    border-radius: 0 !important;
}

.link-signin {
    color: #0079BC;
}

.link-signin:hover {
    cursor: pointer;
}